body{
	margin:0; position: relative;
	color: white; 
	font-weight: 200; 
	font-size: 1.5vw; 
	font-family: 'Oswald';
}

img{
	width: 100%; display: block;
}

a{
	text-decoration: none;
	color: white; 
}

.button{
	position: absolute; 
	bottom: 5vw; 
	left:5vw; 
}

.video{
	margin: 5.2vw;
}

@media screen and (max-width: 600px) {
	.button { font-size: 5vw; }
}