@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;900&display=swap');

body{
	background: #00000B; 
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 110%;
	color:white;
	font-family: 'Yantramanav', sans-serif;
}

.full-width{width: 100%;}
.title{margin-bottom: 5vh;}
.cover{ margin-top: 5%;}
.t-title{margin-top: -30%}
.t-text{margin-top: -5%}
.section {margin-top: 10vh;}
.img-bet{margin-bottom: 5vh;}
.first-col{margin-left: -5%; padding:0px;}
.second-col{padding: 0px; margin-left: 5vh; margin-top: 15vh;}
.third-col{margin-left: 10%; padding: 0px;}
.fourth-col{margin-top: -15%; padding: 0px; margin-left:5vh;}





.top-cross{ top:3vw; left:3vw; opacity: 25%;}
.top-cross:hover{opacity: 100%;}

@media only screen and (max-width: 600px) {


	.t-title{margin-top: -120%}
	.cover{margin-top: 70%}
	.img-bet{margin-bottom: 2vh;}
	.title{margin: 0vh; margin-bottom: 2vh;}
	.second-col{margin-top: 2vh; margin-left: 0vh;}
	.third-col{margin-left: 0vh;}
	.fourth-col{margin-left: 0vh; margin-top: 2vh;}
	.is-text{padding-left: 4vh;}



	.top-cross{ display: none;}
}