html,body{
	width:100%;
	height:100%;
	margin:0;
	overflow: hidden;
	background-color: #F3F7FE;
}

::-webkit-scrollbar {
    display: none;
}

.column_1{
	width: 45vw; 
	z-index: 1;
}

.column_2{
	width: 55vw;
	margin-bottom: 5vh;
}
	.name{
		font-family: 'Oswald', sans-serif;
		font-size: 10vh;
		line-height: 10vh;
		font-weight: 500;
		transform: scale(1, 1.3);
	}

	.categories{
		margin-bottom: 0.5vh;
		margin-top:3vh;
	}
		.category{
			font-size: 1.2vw;
			font-family: 'Oswald', sans-serif;
			font-weight: 200;
			color:grey;
			margin-right: 1vh;
		}

		.category:hover{
			color:black;
			font-weight: 500;
		}

		.selected{
			color:black;
			font-weight: 500;
		}

	.project-list{
	    overflow-x: auto;
	    overflow-y: hidden;
	    -webkit-overflow-scrolling: touch;
	    margin-left: -50vw;
	    height: 56vh;
	}
		.project{
			float: none;
		    display: inline-block;
		    height: 100%;
		}

		.project-image{
			height: 100%;
			margin-right: 2vh;
		}

		.first{
			height: 0; 
			width: 0;
			margin-right: 50vw;
		}

.social-media{
	position: absolute; 
	bottom: 1vh; 
	right: 1vh;
}

	.logo{
		color: #78807E;
		font-size: 1.1vw;
	}

	.social-media a:hover{
		text-decoration: none;
	}

@media screen and (max-width: 600px) {
	.column_1{ width: 0; }
	.column_2{ margin-left: 5vw; }
		.category{font-size: 5vw; }
		.project-list{ margin-left: -5vw; height: auto; }
		.project{ height: 27vh; }
		.first{ margin-right: 5vw; }
	.logo{ font-size: 4vw; padding: 2vw; }
	.social-media{ width: 100%; }
	.centered{ justify-content: center; }
}