@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
	margin-top: 15vh;
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: 'Oswald', sans-serif;
	color: #6b6b6b;
}

a{
	text-decoration: none;
}

.navbar{
	display: flex;
  	flex-direction: row;
  	margin-bottom: 5vh;
}

	.logo{
		font-size: 2.5em;
		font-weight: 500;
		align-self: center;
		color: #000000;
	}

	.surname{
		font-weight: 200; 
		color: #6b6b6b;
	}

	.logo:hover .surname{
		color: #5B63B7;
	}

	.options{
		display: flex;
	  	flex-direction: row;
	  	margin-left: auto;
		font-size: 1em;
		font-weight: 400;
		align-self: center;
	}

	.item{
		margin-left: 1em;
		color: #6b6b6b;
	}

	.item:hover{
		color: #5B63B7;
	}

	.selected{
		color: #5B63B7;
	}

.projects{
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
}

	.project{
		position: relative;
		width: 39.8vw;
		height: 27.615vw;
		margin-bottom: 0.4vw;
		background-size: cover;
		overflow: hidden;
	}

	.project-img{
		height: 100%;
     	width: 100%;
     	background-size: cover;
     	background-position: center;
     	transition: all 0.7s ease;
	}

	.project:hover .project-img{
		transform: scale(1.2) rotate(3deg);
	}

	.right{
		margin-right: 0.4vw;
	}

		.image{
			display: block;
  			width: 100%;
  			height: auto;
		}

		.overlay {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .5s ease;
		  background-color: #000000;
		}

		.project:hover .overlay {
		  opacity: 0.8;
		}

		.text {
		  color: white;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		  text-align: center;
		}
			.title{
				font-size: 1.5em;
				font-weight: 300;
			}
			.category{
				margin-top: 0.5em;
				font-size: 1em;
				opacity: 0.9;
				font-weight: 500;
			}

.footer{
	display: flex;
  	flex-direction: row;
  	margin-top: 5vh;
  	margin-bottom: 15vh;
  	font-weight: 200;
}
	.copyright{
		margin-left: auto;
	}

	.contact{
		color: #6b6b6b;
	}

	.contact:hover{
		color: #5B63B7;
	}

/* Projects */

.content{
	display: flex;
  	flex-direction: column;
}

	.cover{
		position: relative;
		height: 40vh;
		background-color: red;
		width: 100%;
		background-size: cover;
	}

		.cover-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0.7;
			background-color: #000000;
		}

		.cover-title{
			color: white;
			font-size: 2em;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			text-align: center;
		}

	.columns{
		display: flex;
  		flex-direction: row;
	}

		.column_1{
			display: flex;
  			flex-direction: column;
  			width:30%;
  			padding-left: 5%;

		}

			.c-bold{
				font-weight: 500;
				font-size: 1em;
				color: #000000;
				font-family: 'Oswald', sans-serif;
			}

			.c-normal{
				font-weight: 200;
				font-size: 1em;
				margin-bottom: 1em;
				font-family: 'Raleway', sans-serif;
			}

		.column_2{
			display: flex;
  			flex-direction: column;
  			width:70%;
		}

			.c-img{
				width: 100%;
			}

.back-button{
	margin-top: -3vw;
	margin-bottom: 3vw; 
	margin-left:1.5vw; 
	color: white;
	font-weight: 300;
}

/* About me */
.myself{
	width: 35%;
	align-self: center;
}

.description{
	display: flex;
  	flex-direction: row;
  	font-family: 'Raleway', sans-serif;
}

	.introduction{
		width: 65%; 
		align-self: center; 
		padding-left: 5%;
		padding-right: 5%;
		font-weight: 200;
	}

	.links{
		display: flex;
		flex-direction: row;
	}

	.links-group{
		margin-left: 2em;
		display: flex;
		flex-direction: column;
	}

	.c-normal a{
		color:#6b6b6b;
	}

	.c-normal a:hover{
		color:#5B63B7;
	}

.footer-am{
	position: fixed;
	bottom: 0;
	right: 10vw;
	margin-bottom: 5vh;
}


@media screen and (max-width: 600px) {
	.project{width: 90vw; height: 60vw; margin-bottom: 1vw;}
	.right{margin-right: 0;}
	body{margin-top: 5vh; margin-left: 5vw; margin-right: 5vw;}
	.footer{margin-bottom: 5vh;}
	.logo{font-size: 1.5em; line-height: 1em;}
	.myself{width: 100%;}
	.description{flex-direction:column;}
	.introduction{width: 100%; padding:0;}
	.links{flex-direction: column; margin-bottom: 5vw;}
	.links-group{margin-left: 0;}
	.columns{flex-direction: column-reverse;}
	.column_1{width: 100%; padding:0;}
	.column_2{width: 100%;}
	.back-button{margin-top: -8vw;}
}