body{
	background: rgb(2,27,121);
	background: linear-gradient(90deg, rgba(2,27,121,1) 0%, rgba(5,117,230,1) 100%); 
	overflow-x: hidden;
}

.full-width{
	width: 100%; 
	padding: 0px;
}

.title{
	margin-top: 4vh;
	margin-bottom: 4vh;
}

.learn-1{margin-left: -30%; z-index: 100}
.learn-2{margin-left: -30%; z-index: 0}

.top-cross{ top:3vw; left:3vw; opacity: 25%;}
.top-cross:hover{opacity: 100%;}



@media only screen and (max-width: 600px) {

	.title{margin-top: 4vh; margin-bottom: 4vh; }
	.learn-1{margin-left: 0%;}
  	.learn-2{margin-left: 0%; margin-top: 2vh;}
  	.learn-3{margin-top: 2vh;}
	.top-cross{display: none;}
}