@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

html,body{
	width:100%;
	height:100%;
	margin:0;
	overflow: hidden;
	background-color: #F3F7FE;
	color: #233030;
}

::-webkit-scrollbar {
    display: none;
}


.column_2{
	width: 90vw;
	margin-left: 10vw;
}
	.name{
		font-family: 'Oswald', sans-serif;
		font-size: 6vh;
		line-height: 6vh;
		font-weight: 500;
		transform: scale(1, 1.3);
		margin-left: 10vw;
	}

	.description{
		font-family: '', sans-serif;
		font-size: 2vh;
		line-height: 1vh;
		font-weight: 200;
	}

	.project-list{
	    overflow-x: auto;
	    overflow-y: hidden;
	    -webkit-overflow-scrolling: touch;
	    margin-left: -10vw;
	    height: 70vh;
	}
		.project{
			float: none;
		    display: inline-block;
		    height: 100%;
		}

		.project-image{
			height: 100%;
			margin-right: 2vh;
		}

		.first{
			height: 0; 
			width: 0;
			margin-right: 10vw;
		}

		.last{
			margin-right: 8.7vw;
		}

	.logo{
		color: #78807E;
		font-size: 1vw;
		font-weight: 200;
		margin-left: 1vw;
	}

	.logo:hover{
		color:black;
	}

	.social-media a:hover{
		text-decoration: none;
	}

	.on-mobile{
		display: none !important;
	}

	#email{
		font-weight: 500;
		color: #233030;
	}


@media screen and (max-width: 600px) {
	.name{ margin-left: 4vw; }
	.column_2{ margin-left: 5vw; }
		.project-list{ width:100vw; margin-left: -5vw; height: auto; }
		.project{ height: 27vh; }
		.first{ margin-right: 5vw; }
		.last{margin-right: 0vw;}
	.logo{ font-size: 4vw; padding: 2vw; }
	.social-media{ display: none !important; }
	.on-mobile{ display: inline-block !important; }
	.centered{ justify-content: center; }
}