@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;900&display=swap');

body{
	background: #00000B; 
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 110%;
	color:white;
	font-family: 'Yantramanav', sans-serif;
}

.full-width{ width: 100%; }

.section-0{ margin-top:-8%; }
.section-1{ margin-top: 20%; position: relative; z-index: 10 }
.section-2{ margin-top: -15%; }
.section-3{ margin-top: 20%; position: relative; z-index: 10 }
.section-4{ margin-top: -16%; margin-bottom: 10%;}
.section-5{ margin-top: -10%; }

.picture-1{ margin-top: -10%; }

.top-cross{ top:3vw; left:3vw; opacity: 25%;}
.top-cross:hover{opacity: 100%;}

@media only screen and (max-width: 600px) {
	.section-0{ margin-top:0%; padding: 5%; }
	.section-1{ margin-top: 5%; padding: 5%; }
	.section-2{ margin-top: 0%; }
	.section-3{ margin-top: 5%; padding:5%; }
	.section-4{ margin-top: 0%; }
	.section-5{ margin-top: 0%; }

	.picture-1{ margin-top: 0%; }

	.top-cross{ display: none;}
}