html, body{
	font-family: 'Raleway', sans-serif;
	background-color: #121212;
	color: #FFFFFF;
	scroll-behavior: smooth; 
}

/* NavBar */
.navbar-light .navbar-brand {
  font-size: 45px;
	color: #3E3E3E;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-top: 10%;
}

.navbar{
	padding: 0px;
}

.nav-items{
	margin-top: 10%;  
	margin-right: 8.33333333%; 
	padding: 0px;
	text-align: right;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.nav-link{
	margin-right:16px;
}

/* My name */
.section-name{
	font-size: 35px;
	color: #3E3E3E;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* About me */
.about-me{
	padding: 0px;
}

.hi{
	font-size: 30px;
	font-weight: bold;
	color: #4BAEA0;
}

/* Projects */
.section-project{
	margin-top: 50px;
	padding-bottom: 50px;
}

/* Button */
.button {
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #3E3E3E;
    border-color: #3E3E3E;
    border-style: solid;
    border-width: 1px;
}

.button:hover {
	text-decoration: none;
    background-color: #3E3E3E;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* Button 2 */
.button-2 {
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #3E3E3E;
}

/* Featured button */
.featured-btn{
	background-color: #3E3E3E;
	color:white;
}

.selected{
	background-color: #121212;
	color: #FFFFFF;
}

.un-selected{
	background-color: #FFFFFF;
	color: #121212;
}

/* Make buttons at same heigh work */
.d-flex[style*="display:none"], .d-flex[style*="display: none"] {
    display:none !important;
}

/* AUX */
.text-vertical{
	margin-top: auto;
	margin-bottom: auto;
}

/* Item */
.item-img{
	padding-top: 30px;
}

.item-title{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #3E3E3E;
	padding-top: 8px;
}

/* Mobile Navbar */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #5B5B5B;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
 position: absolute;
 top: -1.5%;
 right: 2.8%;
 font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.show-on-mobile{
	display: none;
}



/* Mobile */

@media (max-width: 840px) {
	
	.navbar-light .navbar-brand {
    	font-size: 32px;
	}

	.hi{
		font-size: 25px;
	}
	
}

@media (max-width: 480px) {
	html,body{
		padding:10px;
	}

	.exp-mobile{
		margin-top: 40px;
	}

	.navbar-light .navbar-brand {
    font-size: 30px;
    margin-top: 0px;
	}

	.section-name{
	font-size: 30px;
	}

	.nav-items{
		margin-top: 0px;  margin-right: 0px; padding: 0px;
	}

	.hi{
		font-size: 20px;
	}

	.hide-on-mobile{
		display: none;
	}

	.show-on-mobile{
		display: block;
	}
	
}

.navbar-light .navbar-brand:hover {
    color:  #FFFFFF;
}

.navbar-light .navbar-brand {
	color: #FFFFFF;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255,.5); 
    border-color: #121212;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255,.7);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255,.5); 
}

.section-name{
	color: #FFFFFF;
}

.button {
    background-color: #121212;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.button:hover {
    background-color: #FFFFFF;
    color: #121212;
    border-color: #121212;
}

.button-2 {
    background-color: #121212;
    color: #FFFFFF;
}

.featured-btn{
	background-color: #FFFFFF;
	color:#121212;
}

.item-title{
	color: #FFFFFF;
}

.overlay {
  background-color: rgb(18, 18, 18);
}

.overlay a {
  color: #FFFFFF;
}

.selected{
	background-color: #FFFFFF;
	color: #121212;
}

.un-selected{
	background-color: #121212;
	color: #FFFFFF;
}

