body{
	font-family: 'Raleway', sans-serif;
	background-color: white;
	color: #5B5B5B;
	margin-top: 80px;
	margin-bottom: 50px;
}


/* Go Back */
.go-back, .go-back:hover, .go-back:visited, .go-back:active{
	color: #3E3E3E;
	text-decoration: none;
	padding: 0px;
}

/* Titles */
.section-title{
	font-size: 60px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	margin-top: 10PX;
	padding: 0px;
	line-height: 90%;
}

.sub-title{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-top: 15px;
}

.sub-sub-title{
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;

}

.sub-sub-sub-title{
	font-size: 16px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;

}

.caption{
	font-size: 15px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 3px;
	margin-top:5px;
}

.text-title{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

/* Images */
.main-img{
	margin-top: 0px;
	margin-bottom: 16px;
}

.img-group{
	margin-top: 25px;
	margin-bottom: 56px;
}

.img-grid{
	margin-top: 15px;
	margin-bottom: 15px;
}

.img-alone{
	margin-top: 20px;
}

/* Texts */
.text-box{
	background-color: white; 
	color:#3E3E3E;
	padding: 15px;
	padding-top: 0px;
	border: 5px solid #3E3E3E;
}

.text-box-2{
	background-color: white; 
	color:#3E3E3E;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	border: 5px solid #3E3E3E;
}


/* Button */
.button {
	padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #3E3E3E;
    border-color: #3E3E3E;
    border-style: solid;
    border-width: 1px;
}

.button:hover {
	text-decoration: none;
    background-color: #3E3E3E;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #3E3E3E;
}

/* Mobile */
@media (max-width: 480px) {
	
	html,body{
		padding: 10px;
		margin-top: 10px;
	}

	.section-title{
		font-size:40px;
		margin-bottom: 20px;
	}

	.main-img{
		margin-top: 4px;
		margin-bottom: 20px;
	}

	.text-box-2{
		margin-left: 0px;
		padding: 30px;
	}

}

@media (max-width: 1088px) {
	
	.section-title{
		font-size:50px;
		margin-bottom: 20px;
	}

}

@media (max-width: 870px) {
	
	.section-title{
		font-size:40px;
		margin-bottom: 20px;
	}

}

