html, body{
	font-family: 'Raleway', sans-serif;
	height: 100%; /* Makes page full screen */
	background-color: black;
	color: white;
}


/* AUX */
.text-vertical{
	margin-top: auto;
	margin-bottom: auto;
}
.add-padding{
	padding: 10px;
}
.section-name{
	font-size: 56px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
	margin-top: 30px;
}

.section-title{
	font-size: 56px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
	margin-top: 30px;
}



/* About me */ 
.about-me-title{
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}

.about-me-text{
	font-size: 20px;
}

.about-me-buttons{
	padding-top: 15px;
}

/* Experience */
.exp-period{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.exp-position{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size:20px;
}

.exp-company{
	font-style: italic;
}

/* Section */
.section-project{
	margin-top: 100px;
	padding-bottom: 100px;
}

/* Item */
.item-img{
	padding-top: 30px;
}

.item-title{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding-top: 8px;
}

/* Button */
.button {
	padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.button:hover {
	text-decoration: none;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* FlowLight */
.img-padding{
	padding-bottom: 15px;
}

.go-back{
	color: white;
	text-decoration: none;
}

.go-back:hover{
	color: white;
	text-decoration: none;
}

/* Mobile */
@media (max-width: 480px) {
	html,body{
		padding:10px;
	}

	.exp-mobile{
		margin-top: 40px;
	}

	.section-title{
		font-size:35px;
	}

	
}

