html, body{
	font-family: 'Raleway', sans-serif;
	background-color: white;
	color: #5B5B5B;
	scroll-behavior: smooth; 
}

/* NavBar */
.navbar-light .navbar-brand {
    font-size: 45px;
	color: #3E3E3E;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-top: 10%;
}

.navbar{
	padding: 0px;
}

.nav-items{
	margin-top: 10%;  
	margin-right: 8.33333333%; 
	padding: 0px;
	text-align: right;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.nav-link{
	margin-right:16px;
}

/* My name */
.section-name{
	font-size: 35px;
	color: #3E3E3E;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* About me */
.about-me{
	padding: 0px;
}

.hi{
	font-size: 30px;
	font-weight: bold;
}

/* Projects */
.section-project{
	margin-top: 50px;
	padding-bottom: 50px;
}

/* Button */
.button {
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #3E3E3E;
    border-color: #3E3E3E;
    border-style: solid;
    border-width: 1px;
}

.button:hover {
	text-decoration: none;
    background-color: #3E3E3E;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* Button 2 */
.button-2 {
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #3E3E3E;
}

/* Make buttons at same heigh work */
.d-flex[style*="display:none"], .d-flex[style*="display: none"] {
    display:none !important;
}

/* AUX */
.text-vertical{
	margin-top: auto;
	margin-bottom: auto;
}

/* Item */
.item-img{
	padding-top: 30px;
}

.item-title{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #3E3E3E;
	padding-top: 8px;
}



/* Mobile */
@media (max-width: 840px) {
	
	.navbar-light .navbar-brand {
    	font-size: 40px;
	}
	
}

@media (max-width: 480px) {
	html,body{
		padding:10px;
	}

	.exp-mobile{
		margin-top: 40px;
	}

	.navbar-light .navbar-brand {
    font-size: 30px;
    margin-top: 0px;
	}

	.section-name{
	font-size: 30px;
	}

	.nav-items{
		margin-top: 0px;  margin-right: 0px; padding: 0px;
	}
	
}

