html, body {
    height: 100%;
    background-image: url("../images/Background2.jpg");
	background-color: white;
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
  	overflow-x: hidden;
}

.image{
	margin-top: 5px;
}

.my-button{
	margin-top: 20px;
	margin-bottom: 20px;
}

@media only screen and (max-device-width: 768px) {
	body{
		background-image: none;
	}
	.image{
		margin-bottom:40px;
	}

}

